/* /* special thanks to https://css-tricks.com/the-shapes-of-css/  for Hex shape */

.hover:hover{
  transform: scale(1.1);
}

.hover{
  transition:  0.2s; 
}

.one{
  overflow: scroll; 
  max-width: 30vw;
  min-height: 25vw;
  margin: 0vw 0vw .5vw 23vw
}

.uno{
  background-image: url("./date.jpg")
}
.two{
  background-image: url("./turn.jpg")
}
.three{
  background-image: url("./dragon.jpg")
}
.four{
  background-image: url("./day.jpg")
}
.five{
  background-image: url("./weather.jpg")
}
.six{
  background-image: url("http://placekitten.com/g/200/300")
}
.hexagon {

  background-position: center;
  background-size: cover;
  margin: 4vw 1vw 0vw 1vw;
  max-width: 25vw; 
  max-height: 25vw;
  clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);
}

  .hexcontain{
      height: 75vw; 
      width: 100vw;
      position: absolute;
      overflow: visible;
  }
  .tophex{
      display:flex;
      justify-content: center;
      /* margin-top: 10vw; */
      position: absolute;
      /* top: 25vw; */
      left: 12vw;
  }
  .centerhex{
      display: flex;
      justify-content: center;
      position: absolute;
      top: 21vw;
      left: 24.5vw;
      
  }
  .lowerhex{
      display: flex;
      justify-content: center;
      position: absolute;
      top: 42vw;
      left: 37vw;
  }

