.nav{
    background: rgba(0, 0, 0, 0.2)
    
    
  }
  
  .body{
      border-top-left-radius: 5vw;
      border-top-right-radius: 5vw;
      background: linear-gradient(
        to bottom,
        rgba(0,0,0, 0) 60%,
        #726a61
      ),url(./top.jpg);
      background-size: cover;
      height:25vw;
      
  }
  .navbuttons{
      display: flex;
      justify-content: center;
  }
  .brand-logo{
      margin-left: 5vw;
  }
a{
    color: white;
    opacity: 1;
}

.sidenav{
    background: rgba(73, 73, 73, 0.8);
    width: 100%;
    height: 30vh;
}
.sidenav-close{
    text-align: center;
    color: white !important
}

.modal{
    background:  rgba(117, 81, 81, 1);
    border-radius: 1vw;
    color: white;
    text-align: center;
}

.modal-overlay{
    backdrop-filter: blur(6px);
    opacity: 1 !important;
    background: rgba(0,0,0,0.3)
}

.appImage{
    width:100%
}