.nav{
    background: rgba(0, 0, 0, 0.2)
    
    
  }
  
  .body{
      border-top-left-radius: 5vw;
      border-top-right-radius: 5vw;
      background: linear-gradient(
        to bottom,
        rgba(0,0,0, 0) 60%,
        #726a61
      ),url(./top.jpg);
      background-size: cover;
      height:25vw;
      
  }
  .navbuttons{
      display: flex;
      justify-content: center;
  }
  .brand-logo{
      margin-left: 5vw;
  }
a{
    color: white;
    opacity: 1;
}

.sidenav{
    background: rgba(73, 73, 73, 0.8);
    
    width: 100%;
    height: 65vw;
}
.sidenav-close{
    text-align: center;
    color: white !important
}

.modal{
    background:  rgba(73, 73, 73, 0.8);
    border-radius: 1vw;
    color: white;
}
@media only screen and (max-width: 993px){
    .brand-logo{
        margin-left: 0vw;
    }
}
@media only screen and (max-width: 764px){
    .body{
      height: 25vh;
      width: 100vw
  }
}