.footer-body{

    height: 25vw;
    background: linear-gradient(
        to top,
        rgba(0,0,0, 0) 60%,
        #51585f
      ),url(./bottom.jpg);
    border-bottom-left-radius: 5vw;
    border-bottom-right-radius: 5vw;
    background-size: cover;
    position: relative;
    top: 80vw
        
}

@media only screen and (max-width: 518px){
    .footer-body{
      position: relative;
    top: 100vw
    }
} 